@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

#root {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  margin: 0;
  text-align: center;

  color-scheme: light dark;
  color: white;
  background-color: #242424;
}

body {
  display: flex;
  place-items: center;
  min-width: 100%;
  height: 100%;
  margin: 0;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: none;
}

.App {
  height: 100%;
}

.player-forms {
  display: flex;
}

input {
  height: 30px;
  width: 250px;
  margin-bottom: 15px;
}

.player-info {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
  font-size: 14px;
}

.delete-player {
  margin: 0 50px;
}

.player-forms {
  padding-bottom: 50px;
  border-bottom: 2px solid blue;
}

.user {
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
}

.sign-up {
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 150px;
}

.invalid-credentials {
  width: 300px;
  text-align: start;
  color: red;
  font-size: 13px;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
}

.form-input {
  display: block;
  height: 45px;
  width: 300px;
  margin-bottom: 10px;
  padding: 10px;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.form-submit, .button {
  width: fit-content;
  padding: 10px 20px;
  background-color: #2563EB;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.logout {
  position: absolute;
  top: 20px;
  right: 50px;
}

.form-link {
  display: inline-block;
  margin: 0 30px;
  margin-top: 10px;
  font-size: 14px;
  text-align: center;
}

.form-link:hover {
  text-decoration: underline;
}

label {
  width: 100%;
  margin-left: 20px;
  color: rgb(165, 165, 165);
  font-size: 12px;
  text-align: start;
}