

#root {
  height: 100vh;
  width: 100vw;
  margin: 0 auto;
  text-align: center;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

body {
  display: flex;
  place-items: center;
  min-width: 320px;
  height: 100%;
  margin: 0;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: none;
}

.App {
  height: 100%;
}

.player-forms {
  display: flex;
}

input {
  height: 30px;
  width: 250px;
  margin-bottom: 15px;
}

.player-info {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
  font-size: 14px;
}

.delete-player {
  margin: 0 50px;
}

.player-forms {
  padding-bottom: 50px;
  border-bottom: 2px solid blue;
}

.user {
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
}

.sign-up {
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 150px;
}

.invalid-credentials {
  display: none;
  width: 300px;
  text-align: start;
  color: red;
  font-size: 13px;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
}

/* Style the input fields */
.form-input {
  display: block;
  margin-bottom: 10px;
  padding: 10px;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

/* Style the login button */
.form-submit, .logout {
  width: fit-content;
  padding: 10px 20px;
  margin: 30px 0;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.logout {
  position: absolute;
  top: 20px;
  right: 50px;
}

/* Style the forgot password and create account links */
.form-link {
  display: inline-block;
  margin: 0 30px;
  margin-top: 10px;
  font-size: 14px;
  text-align: center;
}

/* Style the forgot password and create account links on hover */
.form-link:hover {
  text-decoration: underline;
}

label {
  width: 100%;
  margin-left: 20px;
  color: rgb(165, 165, 165);
  font-size: 12px;
  text-align: start;
}

.auth-animation {
  animation: authentication 0.8s linear 0s infinite normal;
}
@keyframes authentication {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 0.8;
  }
}